__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
local_models/
.env

.venv/
venv/
myenv/

runs/
# Raw external datasets
data/raw/open5e/*.json
# Generated converted datasets
data/generated/open5e/*.json
agentquest.egg-info/
notes.md
runs_old/
results/